<div class="jumbotron">
	<div class="container">
		<h3>This is a choose your own adventure story based on the Three Little Pigs.</h3>
		<br>
		<br>
		<h2><%= @question %></h2>
		<form method="POST" action=<%= @action %> >
			<label for=<%= @choice_1 %> >
				<input type="radio" name="choice" value=<%= @choice_1 %> > <%= @choice_1.capitalize %>
			</label><br>
			<label for= <%= @choice_2 %> >
				<input type="radio" name="choice" value=<%= @choice_2 %> > <%= @choice_2.capitalize %>
			</label><br>
			<label for=<%= @choice_3 %> >
				<input type="radio" name="choice" value=<%= @choice_3 %> > <%= @choice_3.capitalize %>
			</label><br><br>
			<input type="submit" class="btn btn-primary">
		</form>
	</div>
</div>